a, img, i, label {
  -o-transition:.5s all ease;
  -ms-transition:.5s all ease;
  -moz-transition:.5s all ease;
  -webkit-transition:.5s all ease;
  transition:.5s all ease;
}

.navbar-brand img {
  max-width: 200px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-family: "Fjalla One";
  font-size: 17px !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #c48901;
}

.ftco-navbar-light .navbar-toggler {
  font-family: "Fjalla One";
  color: #c48901 !important;
  font-weight: bold;
}

.hero-wrap {
  background-image: url('../images/bg_header1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-wrap h2 {
  line-height: 1;
}

h1, .h1, h2, .h2 {
  font-size: 4rem;
}

@media (max-width: 767.98px) {
  .hero-wrap {
      height: 450px;
  }

  .navbar-brand img {
    max-width: 100px;
  }

  h1, .h1, h2, .h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
      background: #FFB301 !important;
  }
}

.text-orange {
  color: #f65e43 !important;
}

.text-white {
  color: #fff !important;
}

.btn.btn-primary {
  background: #f65e43 !important;
  border: 4px solid #f65e43;
  color: #fff;
  border-radius: 2px;
  border-bottom: 4px solid #ff2501;
  font-family: "Fjalla One";
  font-size: 1.5rem;
}

.btn.btn-primary:hover {
  background: #ff2501 !important;
  border: 4px solid #ff2501;
  color: #fff;
  border-radius: 2px;
  border-bottom: 4px solid #ff2501;
}

.timer {
  font-weight: 500;
}

.heading-section h2 {
    font-size: 4rem;
}

.ftco-section {
  padding: 5em 0;
}

@media (max-width: 767.98px) {
  .heading-section h2 {
      font-size: 30px;
  }

  .ftco-section {
    padding: 3em 0;
  }
}

.services .icon:before,
.services .icon:after {
  display: none;
}

.services .icon img {
  max-width: 250px;
}

@media (max-width: 991.98px) {
  .services .icon img {
    max-width: 200px;
  }
}

.services .media-body h3 {
  font-family: "Fjalla One";
}

.hall-section {
  background-image: url('../images/bg_hallofmeows.jpg');
}

.adopting-section {
  background-image: url('../images/bg_adopting101.jpg');
}

.appointment-section {
  background-image: url('../images/bg_appointment.jpg');
}

.hall-section,
.adopting-section,
.appointment-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 700px;
}

@media (max-width: 767.98px) {
  .hall-section,
  .adopting-section,
  .appointment-section {
      min-height: 300px;
  }
}

.text-dark-blue {
  color: #140e48 !important;
}

.text-blue {
  color: #392ca0 !important;
}

.gallery-container img {
  border: 4px solid white;
  border-radius: 5px;
  max-width: 150px;
  cursor: pointer;
}

.gallery-container img:hover {
  opacity: 0.9;
}

.text-gray {
  color: #b6b2da !important;
}

.text-yellow {
  color: #ffb302 !important;
}

.adopting-section .text-yellow {
  font-family: "Fjalla One";
}

.adopting-list {
  list-style-image: url('../images/correct.png');
}

.text-flesh {
  color: #ffcfa3 !important;
}

.ftco-footer {
  background: #140e48;
}

.footer-links {
  list-style-type: none;
}

@media (max-width: 767.98px) {
  .footer-links {
    font-size: 14px;
  }
}

.border-top-purple {
  border-top: 2px solid #3a2ca0;
}

.text-purple {
  color: #3a2ca0 !important;
}

.copyright {
  font-weight: 500;
}

.footer-links a {
  font-family: "Fjalla One";
}

.footer-links a:hover {
  opacity: 0.5;
}

#appointment-section  {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.email-input {
  height: 55px;
}

.help-btn {
  max-width: 250px;
  max-height: 55px;
}

#stateBranch select {
  max-height: 38px;
}